@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

.centerbox {width: 1400px; margin: 0 auto; }
.centerbox1200 {width: 1200px; margin: 0 auto; min-height: 200px; }


.wrap {width: 100%; height: 100%; background: url('../images/bg.png') center top; background-size: 100%; transition: 10s;}

.wrap.on {background: url('../images/bg.png') center bottom; background-size: 120%;}

header {display: flex; height: 100px; justify-content: space-around; backdrop-filter: blur(3px); transition: 0.5s; position: absolute; top: 0; left: 0; width: 100%; z-index: 7;}
header:hover {backdrop-filter: blur(10px); box-shadow: 0 20px 20px rgba(0,0,0,0.2);}
header h1 { width: 90px;}
header h1 img {width: 100%;}

header nav {display: flex;}
header .gnb {width: 1000px; display: flex; font-family: 'GyeonggiBatang'; }
header .gnb li {flex-grow: 1; font-size: 24px; position: relative; font-weight: bold;}
header .gnb li:before {content: ""; position: absolute; width: 70%; height: 50%; background: #000; left: 50%; top: 50%; transform: translate(-50%,-50%); border-radius: 15px; z-index: -1; opacity: 0; transition: 0.13s;}
header .gnb li:hover:before {opacity: 1;}
header .gnb li a {display: flex; height: 100%; justify-content: center; align-items: center; color: #fff;}

header .icon_music {display: flex; align-items: center; width: 120px; font-size: 34px; color: #fff; cursor: pointer; position: relative; }
header .icon_music span {position: absolute; width: 4px; height: 20px; background: #fff; bottom: 30px;}

header .icon_music span:nth-child(1) {left: 40px;}
header .icon_music span:nth-child(2) {left: 55px; height: 34px;}
header .icon_music span:nth-child(3) {left: 70px; }

header .icon_music.on span {animation:eql 0.3s infinite alternate}
@keyframes eql {
    0% {height: 20px;}
    50% {height: 10px; background: #df633e;}
    100% {height: 34px; background: #59b1d7;}
}
header .icon_music.on span:nth-child(2) { animation-delay: 0.4s;}
header .icon_music.on span:nth-child(3) {animation-delay: 0.2s;}



audio#music {position: fixed; left: 50%; top: 50%; transform: translate(-50%,-50%); width: 500px; display: none;}


.text_box {position: absolute; left: 50%; top: 25%; font-family: 'GyeonggiBatang'; display: flex; flex-direction: row-reverse; margin-left: 400px;}
.text_box:before {content:""; position: absolute; width: 120%; height: 120%; border-radius: 50%; background: rgba(24,31,45,0.7); filter:blur(40px); top: -30px; opacity: 0; transition: 1s; }
.text_box.on:before {opacity: 1;}

.text_box > div {width: 50px; position: relative; z-index: 1;}
.text_box > div span {font-size: 30px; color: #fff; margin-bottom: 10px; display: block;  opacity: 0; position: relative;}
.text_box.on > div span {animation: textAni 3s forwards;}
@keyframes textAni {
    0% {top: 150px; opacity: 0; left: -200px; transform: rotate(30deg);}
    100% {top: 0; opacity: 1; left: 0; transform: rotate(0);}
}
.text_box > div span.space {margin-bottom: 30px;}

.text_box > div.text1 span:nth-child(1){animation-delay: 0.1s;}
.text_box > div.text1 span:nth-child(2){animation-delay: 0.2s;}
.text_box > div.text1 span:nth-child(3){animation-delay: 0.3s;}
.text_box > div.text1 span:nth-child(4){animation-delay: 0.4s;}
.text_box > div.text1 span:nth-child(5){animation-delay: 0.5s;}

.text_box > div.text2 span:nth-child(1){animation-delay: 0.6s;}
.text_box > div.text2 span:nth-child(2){animation-delay: 0.7s;}
.text_box > div.text2 span:nth-child(3){animation-delay: 0.8s;}
.text_box > div.text2 span:nth-child(4){animation-delay: 0.9s;}
.text_box > div.text2 span:nth-child(5){animation-delay: 1s;}
.text_box > div.text2 span:nth-child(6){animation-delay: 1.1s;}
.text_box > div.text2 span:nth-child(7){animation-delay: 1.2s;}
.text_box > div.text2 span:nth-child(8){animation-delay: 1.3s;}

.text_box > div.text3 span:nth-child(1){animation-delay: 1.4s;}
.text_box > div.text3 span:nth-child(2){animation-delay: 1.5s;}
.text_box > div.text3 span:nth-child(3){animation-delay: 1.6s;}
.text_box > div.text3 span:nth-child(4){animation-delay: 1.7s;}
.text_box > div.text3 span:nth-child(5){animation-delay: 1.8s;}
.text_box > div.text3 span:nth-child(6){animation-delay: 1.9s;}
.text_box > div.text3 span:nth-child(7){animation-delay: 2.0s;}
.text_box > div.text3 span:nth-child(8){animation-delay: 2.1s;}
.text_box > div.text3 span:nth-child(9){animation-delay: 2.2s;}
.text_box > div.text3 span:nth-child(10){animation-delay: 2.3s;}

.text_box > div.text4 span:nth-child(1){animation-delay: 2.4s;}
.text_box > div.text4 span:nth-child(2){animation-delay: 2.5s;}
.text_box > div.text4 span:nth-child(3){animation-delay: 2.6s;}
.text_box > div.text4 span:nth-child(4){animation-delay: 2.7s;}
.text_box > div.text4 span:nth-child(5){animation-delay: 2.8s;}
.text_box > div.text4 span:nth-child(6){animation-delay: 2.9s;}
.text_box > div.text4 span:nth-child(7){animation-delay: 3.0s;}
.text_box > div.text4 span:nth-child(8){animation-delay: 3.1s;}

.text_box > div.text5 span:nth-child(1){animation-delay: 3.2s;}
.text_box > div.text5 span:nth-child(2){animation-delay: 3.3s;}
.text_box > div.text5 span:nth-child(3){animation-delay: 3.4s;}
.text_box > div.text5 span:nth-child(4){animation-delay: 3.5s;}
.text_box > div.text5 span:nth-child(5){animation-delay: 3.6s;}
.text_box > div.text5 span:nth-child(6){animation-delay: 3.7s;}
.text_box > div.text5 span:nth-child(7){animation-delay: 3.8s;}
.text_box > div.text5 span:nth-child(8){animation-delay: 3.9s;}


.rain_box {position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
.rain_box .rain1 {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: url('../images/rain2.png'); background-size: 100%; animation: rain1 0.5s infinite linear; }
@keyframes rain1 {
    0% {background-position: 0 0;}
    100% {background-position: 0 1050px;}
}

.rain_box .rain2 {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: url('../images/rain2.png'); background-size: 80%; animation: rain2 2s infinite linear; opacity: 0.6; transform: rotate(10deg);}
@keyframes rain2 {
    0% {background-position: 0 0;}
    100% {background-position: 0 1050px;}
}

.rain_box .rain3 {position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: url('../images/rain2.png'); background-size: 50%; animation: rain3 3s infinite linear; opacity: 0.3; transform: rotate(30deg);}
@keyframes rain3 {
    0% {background-position: 0 0;}
    100% {background-position: 0 1050px;}
}